 /*main title */
.u-text.u-text-palette-1-base.u-text-2.u-title {
	color: #98bc65 !important;
	font-size: 3rem !important;
}

/*page subtitle, buttons, food menu elements*/
.u-text.u-text-palette-2-base.u-text-1 {
	color: #478ac9 !important;
	font-size: 1.5rem;
	font-style:italic
}

/*section titles */
.u-text.u-text-palette-1-base.u-text-2 {
	color: #98bc65 !important;
	font-size: 3rem !important;
}

/*farm description*/
.u-farm-text {
  font-size: 1.125rem;
  margin: 14px 0 0;
  font-style: normal !important;
}


/*picture description*/
.u-farm-pic-descr {
	font-style: italic;
  font-size: 1.125rem;
  margin: 14px 0 0;
}


/*food menu elements*/
.food-menu-descr
 {
	color: #000000 !important;
	font-style: italic;
}


.u-btn.u-button-style.u-btn-1 {
	color: #FFFFFF !important;
}


/*first farm section*/
/* .u-section-3 .u-image-1 { */
  /* min-height: 630px; */
  /* background-image: url("images/saara-sead.jpg") !important; */
  /* background-position: 0% 50%; */
  /* background-color: #fafafa; */
/* } */

/* .u-section-3 .u-image-1 { */
  /* min-height: 630px; */
  /* background-image: url("images/lepaniidi-kitsed.jpg") !important; */
  /* background-position: 0% 50%; */
  /* background-color: #fafafa; */
/* } */


.u-section-1 .u-image-1 {
  min-height: 683px;
  background-image: url("images/main-page-bg-cropped-2.jpg");
  background-position: 50% 50%;
}

hr {
    border: 0;
    height: 2px;
    background: linear-gradient(to right, #98bc65, #f5f5f5, #98bc65);
    margin: 20px 0;
}

/* slide-in navbar color */
.u-black .u-container-style .u-inner-container-layout .u-opacity .u-opacity-95 .u-sidena {
	color: #e3effb !important; 
}

/* menu items */
.u-button-style .u-nav-link {
	color: #98bc65 !important;
}

